<div class="modal page__modal modal_target_profile">
  <div class="modal__overlay"></div>
  <div class="form">
    <button
      class="form__close-btn form__close-btn_target_profile"
      type="button"
    ></button>
    <h2 class="form__title">Редактировать профиль</h2>
    <form
      action="#"
      class="form__section form__section_target_profile"
      name="formProfile"
      novalidate
    >
      <label class="form__field">
        <input
          type="text"
          class="form__input form__input_field_name"
          id="input-name"
          placeholder="Имя"
          name="profileName"
          required
          minlength="2"
          maxlength="40"
        />
        <span class="form__input-error" id="input-name-error"></span>
      </label>
      <label class="form__field">
        <input
          type="text"
          class="form__input form__input_field_about"
          id="input-about"
          placeholder="О себе"
          name="about"
          required
          minlength="2"
          maxlength="200"
        />
        <span class="form__input-error" id="input-about-error"></span>
      </label>
      <button class="form__submit-btn" type="submit">Сохранить</button>
    </form>
  </div>
</div>
