<div
  class="modal page__modal modal_target_mainOrg"
  [class.modal_active]="isOpen === false"
>
  <div class="modal__overlay"></div>
  <div class="form">
    <h2 class="form__title">Редактировать организацию</h2>
    <form
      action="#"
      class="form__section form__section_target_mainOrg"
      name="editMainOrg"
      novalidate
    >
      <label class="form__field">
        <input
          type="text"
          class="form__input form__input_field_nameOrg"
          placeholder="Имя организации"
          name="nameOrg"
          required
        />
      </label>
      <label class="form__field">
        <input
          type="text"
          class="form__input form__input_field_shortOrg"
          placeholder="Короткое наименование организации"
          name="shortOrg"
          required
        />
      </label>
      <label class="form__field">
        <input
          type="text"
          class="form__input form__input_field_inn"
          placeholder="ИНН"
          name="inn"
          required
        />
      </label>
      <label class="form__field">
        <input
          type="text"
          class="form__input form__input_field_kpp"
          placeholder="КПП"
          name="kpp"
          required
        />
      </label>
      <label class="form__field">
        <input
          type="text"
          class="form__input form__input_field_mainPerson"
          placeholder="Руководитель подразделения"
          name="mainPerson"
          required
        />
      </label>
      <label class="form__field">
        <input
          type="text"
          class="form__input form__input_field_adress"
          placeholder="Адрес"
          name="adress"
          required
        />
      </label>
      <label class="form__field">
        <input
          type="text"
          class="form__input form__input_field_phone"
          placeholder="Телефон"
          name="phone"
          required
        />
      </label>

      <div class="form__button-box">
        <button class="form__submit-btn" type="submit">Сохранить</button>
        <button (click)="isOpen = false" class="form__submit-btn" type="button">
          Закрыть
        </button>
      </div>
    </form>
  </div>
</div>
