<main class="container">
  <section class="autorization">
    <div class="form">
      <form action="#" class="form__section" name="formProfile" novalidate>
        <label class="form__field">
          <input
            type="text"
            class="form__input"
            placeholder="Логин"
            name="login"
            required
            minlength="2"
            maxlength="40"
          />
        </label>
        <label class="form__field">
          <input
            type="password"
            class="form__input"
            placeholder="Пароль"
            name="password"
            required
            minlength="2"
            maxlength="30"
          />
        </label>
        <button class="form__submit-btn" type="submit">Подтвердить</button>
      </form>
    </div>
  </section>

  <section class="info">
    <ul class="info__list">
      <app-mainOrganization></app-mainOrganization>
      <app-mainOrganization></app-mainOrganization>
      <app-mainOrganization></app-mainOrganization>
    </ul>
  </section>
  <!-- <app-info></app-info>
  <app-info></app-info>
  <app-info></app-info> -->
</main>
