<main class="container">
  <section class="autorization">
    <div class="form">
      <form
        (ngSubmit)="handleSubmit(event)"
        [formGroup]="autorizationForm"
        action="#"
        class="form__section"
        novalidate
      >
        <label class="form__field">
          <input
            type="text"
            class="form__input"
            placeholder="Логин"
            formControlName="login"
            required
            minlength="2"
            maxlength="40"
          />
        </label>
        <label class="form__field">
          <input
            type="password"
            autocomplete="password"
            class="form__input"
            placeholder="Пароль"
            formControlName="password"
            required
            minlength="2"
            maxlength="30"
          />
        </label>

        <button class="form__submit-btn" type="submit">Подтвердить</button>
      </form>
    </div>
  </section>

  <section class="info">
    <ul class="info__list">
      <app-main-organization
        *ngFor="let organization of mainOrganizations"
        [mainCard]="organization"
      ></app-main-organization>
    </ul>
  </section>

  <app-popup-form-main></app-popup-form-main>
  <app-popup-form-filial></app-popup-form-filial>
</main>
