<div
  class="modal page__modal modal_target_mainOrg"
  [class.modal_active]="subscribeData.isOpenEditMain === true"
>
  <div (click)="handlerPopupClose()" class="modal__overlay"></div>
  <div class="form">
    <h2 class="form__title">Редактировать офис</h2>
    <form
      action="#"
      class="form__section form__section_target_mainOrg"
      name="editMainOrg"
      [formGroup]="organizationForm"
      (ngSubmit)="handleSubmit()"
      novalidate
    >
      <label class="form__field">
        <input
          type="text"
          class="form__input form__input_field_nameOrg"
          placeholder="Имя организации"
          formControlName="fullName"
          required
        />
      </label>
      <label class="form__field">
        <input
          type="text"
          class="form__input form__input_field_shortOrg"
          placeholder="Короткое наименование организации"
          formControlName="shortName"
          required
        />
      </label>
      <label class="form__field">
        <input
          type="text"
          class="form__input form__input_field_inn"
          placeholder="ИНН"
          formControlName="inn"
          required
        />
      </label>
      <label class="form__field">
        <input
          type="text"
          class="form__input form__input_field_kpp"
          placeholder="КПП"
          formControlName="kpp"
          required
        />
      </label>
      <label class="form__field">
        <input
          type="text"
          class="form__input form__input_field_mainPerson"
          placeholder="Руководитель подразделения"
          formControlName="mainPerson"
          required
        />
      </label>
      <label class="form__field">
        <input
          type="text"
          class="form__input form__input_field_adress"
          placeholder="Адрес"
          formControlName="adress"
          required
        />
      </label>
      <label class="form__field">
        <input
          type="text"
          class="form__input form__input_field_phone"
          placeholder="Телефон"
          formControlName="phone"
          required
        />
      </label>

      <div class="form__button-box">
        <button class="form__submit-btn" type="submit">Сохранить</button>
        <button
          (click)="handlerPopupClose()"
          class="form__submit-btn"
          type="button"
        >
          Закрыть
        </button>
      </div>
    </form>
  </div>
</div>
