.info__item {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

.info__data {
  margin: 5px 0 0 0;
}
.info__filial-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 5px 0 0 0;
  gap: 10px;
  flex-direction: column;
}

.info__button-section {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.info__btn {
  margin-left: 5px;
  background-color: black;
  color: white;
  box-sizing: border-box;
  padding: 3px;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
}

.info__btn:hover {
  transition: 0.5s ease-in-out;
  background-color: rgba(0, 0, 0, 0.8);
}
